@import "src/automaterijal-theme.scss";

// Deo za korpu css --------------------------------------------------------
.table-korpa {
  max-width: 1200px;
  margin-top: 0px;
  border-collapse: inherit;
}
tr.mat-header-row {
  display: none;
}
.suma-labela {
  font-size: 0.8rem;
}
.suma-cena-div {
  font-size: 1.12rem;
  color: $automaterijal-primary-50;
  font-weight: bold;
}
.centriraj {
  text-align: center;
}
tr.mat-row {
  border-bottom: 5px solid $automaterijal-grey-400;
}
.roba-naziv {
  color: $automaterijal-primary-100;
  font-weight: bold;
}
.roba-katbr {
  color: $automaterijal-primary-100;
  font-weight: bold;
  margin-left: 7px;
}
.roba-proizvodjac {
  color: $automaterijal-primary-100;
  font-weight: bold;
  margin-left: 20px;
}
.ukupna-cena-div {
  position: relative;
  top: 20px;
  left: 10px;
}
.dugme-brisanje {
  position: relative;
  bottom: 70px;
  left: 179px;
}
.dugme-brisanje:hover {
  color: red;
}
.kolicina-div {
  display: inline-block;
  margin-left: 42px;
  width: 120px;
  height: 26px;
  border-width: 0.5px;
  border-style: solid;
  border-color: $automaterijal-primary-50;
}
.kolicina-div span {
  width: 39px;
  display: inline-block;
  text-align: center;
}
.kolicina-ikona {
  font-size: 16px;
  position: relative;
  top: 2px;
}
.izbrisi-ikona:hover {
  cursor: pointer;
  color: $automaterijal-accent-red-50;
  user-select: none;
}
.dodaj-ikona:hover {
  cursor: pointer;
  color: $automaterijal-primary-100;
  user-select: none;
}
.input-kolicina-korpa {
  border: none;
  text-align: center;
  width: 42px;
  margin-top: 1px;
}
/* Chrome, Safari, Edge, Opera */
.input-kolicina-korpa::-webkit-outer-spin-button,
.input-kolicina-korpa::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-kolicina-korpa[type="number"] {
  -moz-appearance: textfield;
}

.mat-column-akcije {
  width: 220px;
}
// -----------------------------------------------------------------------
.velicina-dugmeta {
  padding: 0 10px;
}

.korpa-h1 {
  margin-top: 0.5em;
  font-size: 3.5em;
  color: $automaterijal-primary-100;
}

.headerKorpa {
  background-image: url("/assets/slike/ui/pozadine/korpa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  height: 100px;
}

p {
  text-align: left !important;
}

h3 {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  color: $automaterijal-primary-100;
}

hr {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
  color: $automaterijal-primary-100;
}

textarea {
  color: $automaterijal-primary-50;
}

label {
  color: $automaterijal-primary-50;
  font-weight: bold;
}

.radio-grupa {
  display: inline-flex;
  flex-direction: column;
}

.radio-dugme {
  margin: 2px;
  font-size: 0.8em !important;
}

.sirina-cena {
  width: 95%;
}
.dugme-sirina {
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.sirina-pojedinacne-cene {
  width: 200px;
}

.granice {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  padding-left: 5px;
  width: 95%;
  margin: 5px;
}

.pomeri-dole {
  margin-top: 7px;
}

.visina {
  height: 181px;
}
.visina-prevoza {
  height: 193px;
}
.napomena {
  height: 80px;
}

.google-mapa {
  margin-left: 10%;
  width: 80%;
}

///////////////////////Anoniman kupac

.anoniman-kupac {
  background-color: white;
  margin: 5px;
  width: 55%;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.drugi-input {
  margin-left: 30px;
}

.anoniman-input {
  width: 250px;
}

.anoniman-napomena {
  width: 430px;
}

.anoniman-h2 {
  font-size: 1.6rem;
  color: $automaterijal-primary-100;
}

.upozorenje-anoniman {
  border: 1px dashed $automaterijal-accent-red-50;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.upozorenje-p {
  font-size: 0.95rem;
}

.telefon {
  color: $automaterijal-primary-100;
}

.upozorenje-ikona {
  color: $automaterijal-accent-red-50;
}

@media only screen and (max-width: 1200px) {
  .granice {
    width: 99%;
  }

  .anoniman-kupac {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .upozorenje-anoniman {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .sirina-cena {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 900px) {
  .table-korpa {
    height: 400px;
    border-collapse: collapse;
    box-shadow: none;
  }
  .table-korpa tr.mat-row {
    border-bottom: 10px solid $automaterijal-grey-400;
  }
  .table-korpa td {
    border: none !important;
  }

  .table-korpa {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-column-slika {
    height: 110px;
    text-align: center;
  }

  .mat-column-opis {
    height: 110px;
    text-align: center;
    font-size: 0.9rem;
  }
  .mat-column-cena {
    height: 110px;
    text-align: center;
    font-size: 0.9rem;
  }
  .mat-column-akcije {
    text-align: center;
    font-size: 0.9rem;
  }
  .kolicina-div {
    text-align: left;
    margin-left: 24px;
  }
  .ukupna-cena-div {
    position: relative;
    top: -45px;
    left: 63px;
  }
  .dugme-brisanje {
    position: relative;
    display: block;
    bottom: 130px;
    left: 300px;
  }
  .suma-cena-div {
    font-size: 1.5rem;
  }
  .podesi-opise-div {
    position: relative;
    right: -60px;
    width: 300px;
    text-align: left;
  }
}
@media screen and (max-width: 670px) {
  .anoniman-kupac {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 576px) {
  .anoniman-kupac {
    max-width: 350px;
  }
  .drugi-input {
    margin-left: 0px;
  }
  .anoniman-napomena {
    width: 90%;
  }
}
@media screen and (max-width: 330px) {
  .dugme-brisanje {
    left: 52px;
  }
  .podesi-opise-div[_ngcontent-c10] {
    right: -45px;
  }
  .ukupna-cena-div {
    left: 63px;
  }
}
