@import "src/automaterijal-theme.scss";
    h1 {
        padding: 5px 80px;
    }

    .header-porduzbenice {
        background-image: url('/assets/slike/ui/pozadine/ffascikla.png');
        /* background-image: url('/assets/slike/ui/pozadine/roba.png'); */
        background-repeat: no-repeat;
        background-position: top;
        background-size: 120%;
    }

    input {
        cursor: pointer;
        text-align: center;
        color: $automaterijal-primary-50;
        font-weight: bold;
        font-size: 0.94em;
    }

    .filter-p {
        font-size: 1.1em;
        font-weight: bold;
        margin: 10px;;
    }

    .filter-div {
        display: flex;
        padding: 5px 15px;
        background: white;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        width: 500px;
    }

    .filter-segment { 
        width: 160px !important;
    }

@media screen and (max-width: 1200px) {
    h1 {
        padding: 0px;
    }

    p {
        font-size: 0.95em;
    }
    tr.mat-header-row {
        height: 40px;
    }

  }
  @media screen and (max-width: 600px) {

    .header-porduzbenice {
        background-image: none;
    }

    .filter-segment { 
        width: 120px !important;
    }

    .filter-div {
        padding: 5px 5px;
    }
}
@media screen and (max-width: 350px) {
  .filter-segment { 
      width: 100px !important;
  }

  .filter-div {
      padding: 5px 5px;
  }
}