@import "src/automaterijal-theme.scss";

.boja-glavna-50 {
    color: $automaterijal-primary-50 !important;
}
  
.boja-glavna-100 {
    color: $automaterijal-primary-100 !important;
}
  
.boja-glavna-200 {
    color: $automaterijal-primary-200 !important;
}
  
.boja-zelena-50 {
      color: $automaterijal-accent-green-50;
}
  
.boja-zelena-100 {
      color: $automaterijal-accent-green-100;
}
  
.boja-accent-yellow-10 {
      color: $automaterijal-accent-yellow-10;
}
  
.boja-siva-50 {
    color: $automaterijal-grey-50 !important;
}
  
.boja-siva-100 {
    color: $automaterijal-grey-100 !important;
}
  
.boja-siva-200 {
    color: $automaterijal-grey-200 !important;
}
  
.boja-siva-300 {
    color: $automaterijal-grey-300 !important;
}
  
.boja-siva-400 {
    color: $automaterijal-grey-400 !important;
}

.boja-crvena-50 {
    color: $automaterijal-accent-red-50 !important;
}

.boja-crvena-10 {
    color: $automaterijal-accent-red-100 !important;
}
  
.pozadina-glavna-50 {
    background-color: $automaterijal-primary-50 !important;
}
  
.pozadina-glavna-100 {
    background-color: $automaterijal-primary-100 !important;
}
  
.pozadina-glavna-200 {
    background-color: $automaterijal-primary-200 !important;
}

.pozadina-siva-300 {
    background-color: $automaterijal-grey-300;
}

.pozadina-siva-400 {
    background-color: $automaterijal-grey-400;
}

.pozadina-bela {
    background-color: white;;
}