@import "src/automaterijal-theme.scss";

h3 {
     font-size: 1.2em;
     font-weight: bold;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
  }

 .puna-duzina {
      width: 100%;
 }