@import "src/automaterijal-theme.scss";

.h1-obavestenje {
    text-align: center;
}

.ikona-modal {
    font-size: 2rem !important;
    color: $automaterijal-accent-red-50;
}

.telefon-modal {
    margin-top: 10px;
}

a {
    color: $automaterijal-primary-100;
}
.centriraj {
    margin-top: 20px;
    text-align: center;
}