<section>
    <h1 class="h1-obavestenje">
        <i class="material-icons icon-size ikona-modal">
            priority_high
        </i>
        Obavestenje</h1>
    <p>Zbog komplikovanog odredjivanja odgovarajućeg artikla i velike mogućnosti greške, poručivanje dostupno samo
        prijavljenim korisnicima. </p>
    <p class="telefon-modal">Konsultujete se sa nama povodom ovog artikla: <a class="telefon"
            href="tel:015319000">015/319-000</a></p>
    <div class="centriraj">
        <button mat-raised-button color="primary" mat-dialog-close>Zatvori</button>
    </div>
</section>