p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding: 10px;
}

td {
    font-size: 1em;
}

.header {
    height: 2em;
}

.pomeri {
    margin-left: 10px;
}