<div class="d-flex justify-content-center">
    <div class="filter-div-test d-flex flex-column">
        <div class="d-flex flex-column input-group mb-3">
            <div *ngIf="pokaziKategorije">
                <label class="input-group-text mobilna-duzina button-glavni-50" for="inputGroupSelect01">
                    Kategorije:
                </label>
                <select class="custom-select mobilna-duzina" (change)="filtriraj()" id="inputGroupSelect01" [(ngModel)]="filter.grupa">
                    <option selected hidden>Sve Kategorije</option>
                    <option class="velicina-selekta" *ngFor="let grupe of filterGrupe" [value]="grupe">{{grupe}}</option>
                </select>
                <span *ngIf="filter.grupa === 'Sve Kategorije'" class="disejblovan-filter pozicija-filtera material-icons">
                    remove_circle
                </span>

                <span *ngIf="filter.grupa !== 'Sve Kategorije'" (click) = "filter.grupa = 'Sve Kategorije'; filtriraj()" class="enejblovan-filter pozicija-filtera material-icons">
                    remove_circle
                </span>
            </div>
            <div>
                <label class="input-group-text mobilna-duzina button-glavni-50" for="inputGroupSelect01">
                    <p class="boja-siva-400">Proizvodjač: </p>
                </label>
                <select class="custom-select mobilna-duzina" (change)="filtriraj()" id="inputGroupSelect01" [(ngModel)]="filter.proizvodjac">
                    <option selected hidden>Svi proizvodjači</option>
                    <option *ngFor="let proizvodjac of izborProizvodjaca" [value]="proizvodjac">
                        {{proizvodjac  | titlecase}}
                    </option>
                </select>
                <span *ngIf="filter.proizvodjac === 'Svi proizvodjači'" class="disejblovan-filter pozicija-filtera material-icons">
                    remove_circle
                </span>

                <span *ngIf="filter.proizvodjac !== 'Svi proizvodjači'" (click) = "filter.proizvodjac = 'Svi proizvodjači'; filtriraj()" class="enejblovan-filter pozicija-filtera material-icons">
                    remove_circle
                </span>
            </div>
            <div>
                <label class="input-group-text mobilna-duzina button-glavni-50" for="inputGroupSelect01">
                    Raspoloživost:
                </label>
                <select class="custom-select mobilna-duzina" (change)="filtriraj()" id="inputGroupSelect01" [(ngModel)]="filter.raspolozivost">
                    <option *ngFor="let raspoloziv of raspolozivost" [value]="raspoloziv">{{raspoloziv}}</option>
                </select>
                <span *ngIf="filter.raspolozivost === 'Svi artikli'" class="disejblovan-filter pozicija-filtera material-icons">
                    remove_circle
                </span>

                <span *ngIf="filter.raspolozivost !== 'Svi artikli'" (click) = "filter.raspolozivost = 'Svi artikli'; filtriraj()" class="enejblovan-filter pozicija-filtera material-icons">
                    remove_circle
                </span>
            </div>
        </div>
    </div>
</div>