@import "src/automaterijal-theme.scss";
@import "src/css/shared/boje.scss";

.sekcija {
  background-color: white;
  padding: 20px;
}

.centriraj {
  text-align: center;
}

.sekcija-mala {
  background-color: white;
}

.sekcija-h2 {
  font-size: 1.6rem;
  text-align: center;
  background: linear-gradient(45deg, $automaterijal-primary-50 0%, $automaterijal-primary-50 0%, transparent 40%), linear-gradient(-45deg, $automaterijal-primary-50 0%, $automaterijal-primary-50 0%, transparent 40%);
  color: $automaterijal-primary-50;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

// Gornji prvi deo
.centar {
  text-align: center;
}
.skecija-mala {
  padding: 10px;
}
.pomeri-levo {
  margin-right: 15px;
}
.velicina-ikone {
  font-size: 0.8em;
  color: $automaterijal-primary-100;
}
.header {
  display: inline;
  font-size: 0.9em;
  margin-left: 5px;
  color: black;
}

// Header

.detalji-magacina {
  background-color: white;
  width: 100%;
  height: 250px;
}

.mat-lista {
  width: 300px;
  float: right;
}
.mat-list-base {
  padding-top: 2px;
}
.broj {
  font-size: 1.1rem;
}

.slika-header {
  background-image: url("/assets/slike/ui/slider/HEADER3.png");
  /* background-image: url('/assets/slike/ui/pozadine/roba.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.slika-header2 {
  background-image: url("/assets/slike/ui/slider/HEADER4.png");
  /* background-image: url('/assets/slike/ui/pozadine/roba.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 210px;
}

.list-item {
  height: 82px;
}

.detalji-magacina-opis {
  width: 100%;
}
.ikona {
  font-size: 35px;
}

.boldiraj {
  font-weight: bold;
}
.edit-ikona {
  float: right;
  cursor: pointer;
}

.edit-ikona:hover {
  color: $automaterijal-primary-100;
}

// izdvajamo iz ponude
.cekcija-ponuda {
  max-width: 1365px;
  margin-left: auto;
  margin-right: auto;
}
.mat-card-ponuda {
  width: 250px;
  height: 400px;
  margin: 5px;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.mat-card-content {
  margin-bottom: 0px;
  cursor: pointer;
}

.mat-card-ponuda:hover {
  box-shadow: 4px 10px 17px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slika-div {
  height: 150px;
  margin-top: 5px;
}
.izdvajamo-slika {
  max-width: 160px;
  max-height: 130px;
  width: auto;
}
.slika-div img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.mat-card-image:first-child {
  margin-top: 0px;
}
.cena {
  font-weight: bold;
  font-size: 0.9rem;
  color: $automaterijal-primary-100;
  margin-left: 60px;
}
.katbr {   
   margin-left: 7px;
  font-size: 0.8rem;
  color: $automaterijal-primary-100;
}
.proizvodjac-naziv {
  margin-left: 34px;
  margin-top: 5px;
  color: $automaterijal-primary-100;
}
p {
  font-size: 0.845rem;
}
.naziv {
  height: 40px;
  margin-top: 5px;
  text-align: center;
  color: $automaterijal-primary-100;
}

.kolicina-div {
  display: inline-block;
  width: 120px;
  height: 24px;
  border-width: 0.5px;
  border-style: solid;
  border-color: $automaterijal-primary-50;
}
.kolicina-div span {
  width: 39px;
  display: inline-block;
  text-align: center;
}
.kolicina-ikona {
  font-size: 16px;
  position: relative;
  top: 2px;
}
.izbrisi-ikona:hover {
  cursor: pointer;
  color: $automaterijal-accent-red-50;
  user-select: none;
}
.dodaj-ikona:hover {
  cursor: pointer;
  color: $automaterijal-primary-100;
  user-select: none;
}
.input-kolicina-tabela {
  border: none;
  text-align: center;
  width: 42px;
  font-size: 16px;
  margin-top: 1px;
}
/* Chrome, Safari, Edge, Opera */
.input-kolicina-tabela::-webkit-outer-spin-button,
.input-kolicina-tabela::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.input-kolicina-tabela[type="number"] {
  -moz-appearance: textfield;
}
.labela-kolicina {
  margin: 0px;
  color: $automaterijal-primary-50;
  font-size: 0.8rem !important;
  font-style: italic;
  display: block;
}
.kolicina-labela {
  width: 70px !important;
  height: 23px;
}
.teh-detalji-ui {
  width: 220px;
  margin-bottom: 8px;
  padding-inline-start: 10px;
  font-size: 0.8rem;
}

.stanje-ikona {
  width: 100px;
  margin-top: 11px;
}

.dugme-detalji {
  margin-left: 85px;
}

.dugme-detalji-u-korpi {
  width: 150px;
}

.mt-u-korpi {
  margin-top: 6px;
}

.dugme {
  background-color: $automaterijal-primary-100;
  color: white;
}

// sekcija 3
.kategorija-card {
  width: 250px;
  margin: 5px;
  background-color: $automaterijal-grey-400;
  cursor: pointer;
}

.kategorija-card:hover {
  box-shadow: 4px 10px 17px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.kategorija-p {
  display: inline;
}

.ikona-kategorija-leva {
  position: relative;
  top: 6px;
}

// sekcija 4
.brendovi-img {
  width: 80px;
  margin: 10px;
  height: 78.78px;
  cursor: pointer;
}
.brendovi-img:hover {
  box-shadow: 4px 10px 17px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ikona-mali-ekran {
  position: relative;
  right: 125px;
  top: 25px;
  width: 1px;
}

.mali-ekran-boja {
  background-color: white;
}

.m-ekran-opis {
  margin-bottom: 5px;
  margin-top: 3px;
}

.m-ekran-broj {
  margin-top: -15px;
}

.granicnik {
  border-right: 1px solid $automaterijal-accent-yellow-10;
  height: 50px;
  margin-top: 11px;
}

@media screen and (max-width: 1250px) {
  .ikona-mali-ekran {
    right: 110px;
  }
  .kategorija-card {
    width: 160px;
  }
}

@media screen and (max-width: 1557px) {
  .mat-card-ponuda {
    width: 220px;
    height: 405px;
  }
  .naziv {
    height: 40px;
  }
  .stanje-ikona {
    margin-right: 8px;
  }
  .kategorija-card {
    width: 220px;
  }
}

@media screen and (max-width: 1410px) {
  .mat-card-ponuda {
    width: 190px;
    height: 405px;
  }
  .naziv {
    height: 40px;
  }
  .stanje-ikona {
    margin-right: 8px;
  }
  .proizvodjac-naziv {
    display: block;
  }
  .proizvodjac-naziv {
    margin-left: 0px;
  }
  .stanje-ikona {
    margin-right: 25px;
    margin-top: 22px;
  }

  .kategorija-card {
    width: 205px;
  }
  .cena {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1310px) {
  .kategorija-card {
    width: 180px;
    text-align: center;
  }
}

@media screen and (max-width: 901px) {
  .stanje-ikona {
    margin-right: 25px;
    margin-top: 22px;
  }
}
@media screen and (max-width: 851px) {
  .slika-header2 {
    max-height: 160px;
  }
  .m-ekran-opis {
    margin-top: 25px;
  }
}
@media screen and (max-width: 680px) {
  .slika-header2 {
    max-height: 130px;
  }
}
@media screen and (max-width: 576px) {
  .slika-header2 {
    max-height: 110px;
  }
  .m-ekran-opis {
    margin-top: 5px;
  }
  .pat {
    right: 121px;
  }
}

@media screen and (max-width: 450px) {
  .slika-header2 {
    max-height: 90px;
  }
  .kategorija-card {
    width: 150px;
    padding: 5px;
  }
}
@media screen and (max-width: 420px) {
  .mat-card-ponuda {
    width: 155px;
    height: 405px;
  }
  .stanje-ikona {
    margin-right: 60px;
    margin-top: 22px;
  }
  img {
    max-width: 130px;
  }
  .izdvajamo-slika {
    max-width: 135px;
  }
}
@media screen and (max-width: 369px) {
  .mat-card-ponuda {
    width: 150px;
    height: 405px;
  }
  .stanje-ikona {
    margin-right: 60px;
    margin-top: 22px;
  }
  img {
    max-width: 130px;
  }
  .izdvajamo-slika {
    max-width: 120px;
  }
}
