<mat-dialog-content *ngIf="!ucitavanje">
  <main>
    <div class="modal-naslov">
      <button type="button" class="close" (click)="zatvoriDialog()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <section *ngIf="!mailUspesnoPoslat">
      <h1>Pronađi svoj Automaterijal nalog</h1>
      <p>Unesi svoju e-mail ili korisničko ime</p>
      <form role="form" [formGroup]="zaboravljeSifraForma">
        <mat-form-field class="email-input">
          <input #email formControlName="email" matInput type="email" placeholder="E-mail ili korisničko ime">
        </mat-form-field>
        <div *ngIf="formaSubmited && zaboravljeno.email.errors">
          <div *ngIf="zaboravljeno.email.errors.required">
            <p class="upozorenje">Podatak je obavezan</p>
          </div>
          <div *ngIf="zaboravljeno.email.errors.minlength">
            <p class="upozorenje">Podatak mora da ima vise od 3 karaktera</p>
          </div>
        </div>
        <div class="pomeri-dole">
          <button mat-raised-button (click)="posaljiMailZaboravljenaSifra()" class="button-glavni-100">Potvrdi</button>
        </div>
      </form>
    </section>
    <section *ngIf="mailUspesnoPoslat">
      <div *ngIf="mailPoslatPartneru">
        <h1>Mail uspešno poslat</h1>
        <p>Uskoro će vam stići mail sa linkom gde možete promeniti vašu šifru.</p>
        <div class="pomeri-dole">
          <button mat-raised-button (click)="zatvoriDialog()" class="button-glavni-100">Zatvori</button>
        </div>
      </div>
      <div *ngIf="!mailPoslatPartneru">
        <h1 class="boja-crvena-50">Obaveštenje</h1>
        <p>Došlo je do greške. Administracija je obaveštena i problem će ubrzo biti rešen.</p>
        <p>Hvala na razumevanju</p>
        <div class="pomeri-dole">
          <button mat-raised-button (click)="zatvoriDialog()" class="button-glavni-100">Zatvori</button>
        </div>
      </div>
    </section>
  </main>
</mat-dialog-content>
<section *ngIf="ucitavanje">
  <div class="d-flex justify-content-center margin-bottom--10 margin-top--10">
    <mat-spinner></mat-spinner>
  </div>
</section>