@import "src/automaterijal-theme.scss";

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 25px;
}

p {
    margin-bottom: 1.5em;
    font-size: 0.97em;
}

.email-input {
    width: 80%;
}

.pomeri-dole {
    margin-top: 0.9em;
}