
$automaterijal-grey-50: rgba(38, 50, 56, 1); 
$automaterijal-grey-100: rgb(67, 93, 105);
$automaterijal-grey-200: rgba(142, 167, 180, 1);
$automaterijal-grey-300: rgb(223, 229, 231);
$automaterijal-grey-400: rgb(246, 246, 246);

$automaterijal-primary-50: rgb(39, 55, 71);
$automaterijal-primary-100: rgb(52, 92, 172);
$automaterijal-primary-200: rgba(84, 122, 161, 1);
$automaterijal-primary-300:rgba(129, 212, 250, 1);


$automaterijal-accent-green-50: rgb(30, 105, 76);
$automaterijal-accent-green-100: rgb(67, 160, 124);
$automaterijal-accent-green-200: rgba(165, 214, 167, 1);

$automaterijal-accent-yellow-10: rgb(163, 138, 73);
$automaterijal-accent-yellow-50: rgba(251, 192, 45, 1);
$automaterijal-accent-yellow-100: rgba(255, 235, 59, 1);
$automaterijal-accent-yellow-200: rgba(255, 249, 196, 1);

$automaterijal-accent-red-50: rgba(183, 28, 28, 1);
$automaterijal-accent-red-100: rgba(241, 59, 46, 1);
$automaterijal-accent-red-200: rgba(255, 205, 210, 1);
