@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "src/automaterijal-theme.scss";
@import "css/shared/dugme.scss";
@import "css/shared/boje.scss";
@import "css/shared/html.scss";
@import "css/shared/mat-dizajn.scss";
@import "css/shared/snack-bar.scss";
@import "css/shared/trunks.scss";
@import "css/e-shop/roba.scss";
@import "css/e-shop/prazna-tabela.scss";
@import "css/e-shop/tabela.scss";
@import "css/e-shop/faktura.scss";
@import "css/e-shop/shared.scss";
