<main>
    <div *ngIf="!ucitavanje && dataSource != null && dataSource.length > 0">
        <div class="header-porduzbenice">
            <div class="d-flex flex-row-reverse bd-highlight">
                <button class="button-glavni-100 nazad-button" mat-raised-button (click)="idiNazad()">
                    <mat-icon>keyboard_arrow_left</mat-icon> Nazad
                </button>
            </div>
            <div class="pozadina-bela header">
                <div class="text-center">
                    <h1>Detalji fakture: {{faktura.id}}</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div class="p-1 flex-fill bd-highlight">
                                <div class="text-center">
                                    <i class="material-icons boja-glavna-100">
                                        assignment_turned_in
                                    </i>
                                </div>
                                <p *ngIf="faktura.status" class="boja-glavna-50"><b class="sirina-b-1">Status:</b>
                                    {{faktura.status.naziv}}
                                </p>
                                <p class="boja-glavna-50"><b class="sirina-b-1">Datum:</b>
                                    {{faktura.vremePorucivanja | datum}}</p>
                                <p *ngIf="partner.privilegije === 2047" class="boja-glavna-50"><b class="sirina-b-1">Partner:</b>
                                   <b> {{faktura.partner | titlecase}} </b>
                                </p>
                            </div>
                        </div>
                        <div class="granica-informacije"></div>
                        <div class="col-md">
                            <div class="text-center">
                                <i class="material-icons boja-glavna-100">
                                    local_shipping
                                </i>
                            </div>
                            <p *ngIf="faktura.nacinPrevoza" class="boja-glavna-50"><b class="sirina-b-1">Prevoz:</b>
                                {{"prevoz_" + faktura.nacinPrevoza.id | translate}}</p>
                            <p *ngIf="faktura.adresa" class="boja-glavna-50"><b class="sirina-b-1">Adresa:</b>
                                {{faktura.adresa.naziv}}</p>
                        </div>
                        <div class="granica-informacije"></div>
                        <div class="col-md">
                            <div class="text-center">
                                <i class="material-icons boja-glavna-100">
                                    credit_card
                                </i>
                            </div>
                            <p *ngIf="faktura.nacinPlacanja" class="boja-glavna-50"><b class="sirina-b-2">Plaćanje:</b>
                                {{faktura.nacinPlacanja.naziv}}</p>
                            <p *ngIf="faktura.nacinPlacanja" class="boja-glavna-50"><b class="sirina-b-2">Napomena:</b>
                                {{faktura.napomena || 'N/A'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabela-div" *ngIf="dataSource != null && dataSource.length > 0">

            <table class="faktura-tabela mat-elevation-z8" mat-table [dataSource]="dataSource">

                <!-- Slika Column -->
                <ng-container matColumnDef="slika">
                    <th mat-header-cell *matHeaderCellDef> Kataloški broj </th>
                    <td mat-cell *matCellDef="let faktura">
                        <div class="pozicija">
                            <img height="120" src={{faktura.slikaId}}
                                onError="this.src='assets/slike/ui/roba/slikanijedostupna.jpg'">
                        </div>
                    </td>
                </ng-container>

                <!-- Opis artikla Column -->
                <ng-container matColumnDef="opis">
                    <th mat-header-cell *matHeaderCellDef> Proizvodjač </th>
                    <td mat-cell *matCellDef="let faktura">
                        <div class="d-flex flex-column">
                            <div class="p-1 bd-highlight podesi-opise-div"><b>Kataloški broj:</b> <span
                                    class="roba-katbr">
                                    {{faktura.kataloskiBroj}} </span></div>
                            <div class="p-1 bd-highlight podesi-opise-div"><b>Proizvodjač:</b> <span
                                    class="roba-proizvodjac">
                                    {{faktura.proizvodjac.naziv}}</span></div>
                            <div class="p-1 bd-highlight roba-naziv">{{faktura.naziv}}</div>
                        </div>
                    </td>
                </ng-container>

                <!-- Nar i Pot kolicina -->
                <ng-container matColumnDef="kolicina">
                    <th mat-header-cell *matHeaderCellDef> Narucena Količina</th>
                    <td mat-cell *matCellDef="let faktura">
                        <div class="d-flex flex-column">
                            <div class="p-1 bd-highlight podesi-opise-div"><b>Poručena količina:</b> <span
                                    class="faktura-porucena-kol">
                                    {{faktura.kolicina}} </span></div>
                            <div class="p-1 bd-highlight podesi-opise-div"><b>Potvrdjena količina:</b> <span
                                    class="faktura-pot-kol"
                                    [class.boja-crvena-50]="faktura.potvrdjenaKolicina !== faktura.kolicina">
                                    {{faktura.potvrdjenaKolicina}}</span></div>
                        </div>
                    </td>
                </ng-container>

                <!-- Rabat - cena Kolicina Column -->
                <ng-container matColumnDef="cena">
                    <th mat-header-cell *matHeaderCellDef> Potvrdjena količina </th>
                    <td mat-cell *matCellDef="let faktura">
                        <div class="d-flex flex-column">
                            <div class="p-1 bd-highlight podesi-opise-div"><b>Rabat:</b> <span class="rabat-kol">
                                    {{faktura.rabat}}% </span></div>
                            <div class="p-1 bd-highlight podesi-opise-div"><b>Cena sa pdv-om:</b> <span
                                    class="cena-kom-kol">
                                    {{faktura.cena | currency:" "}} RSD</span></div>
                            <div *ngIf="faktura.kolicina > 1" class="p-1 bd-highlight"><b>Ukupna cena (poručeno):</b>
                                <span class="cena-ukupno-kol">
                                    {{faktura.cena * faktura.kolicina | currency:" "}} RSD</span></div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="d-flex flex-column flex-sm-row">
                <div class="d-flex flex-fill justify-content-end">
                </div>
                <div class="d-flex flex-fill justify-content-end">
                    <table class="table sirina-cena">
                        <tbody>
                            <tr>
                                <td class="pozadina-glavna-50 boja-siva-400">Poručen iznos: </td>
                                <td class="text-right"><b>{{faktura.iznosNarucen | currency:" "}} RSD</b></td>
                            </tr>
                            <tr *ngIf="faktura.iznosPotvrdjen > 0">
                                <td class="pozadina-glavna-50 boja-siva-400">Potvrdjen iznos: </td>
                                <td class="text-right"><b>{{faktura.iznosPotvrdjen | currency:" "}} RSD</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!ucitavanje && (dataSource == null || dataSource.length == 0)">
        <div class="d-flex flex-row-reverse bd-highlight">
            <button class="button-glavni-100 nazad-button nazad-dugme-dole" mat-raised-button (click)="idiNazad()">
                <mat-icon>keyboard_arrow_left</mat-icon> Nazad
            </button>
        </div>
        <div class="d-flex flex-column prazna-tabela" *ngIf="!pronadjenaRoba">
            <i class="material-icons icon-size">
                error_outline
            </i>
            <h1 class="h1-faktura-upozorenje">Porudzbenica je prazna</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center prazna-tabela" *ngIf="ucitavanje">
        <mat-spinner></mat-spinner>
    </div>
</main>