@import "src/automaterijal-theme.scss";

h1 {
    color: $automaterijal-primary-100;
    text-align: center;
    display: inline;
}

p {
    margin-top: 20px;
}

.header {
    height: 3em;
    text-align: center;
}

.mat-dialog-content {
    max-height: 75vh;
}

/* :host /deep/ mySelector { */
:host ::ng-deep p { 
   margin-top: 20px;
}

img {
    width: 100%;
    height: 100%;
}